:root {
    --nav-title-font-size: 2rem;
    --nav-title-font-weight: 100;
    --nav-link-font-weight: 300;
}

.header-title {
    color: var(--color-text-light);
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
    text-decoration: none;
}

.header-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
}

.header-link {
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
    text-decoration: none;
}

.header-link:hover, .header-title:hover {
    color: white;
}